body {
	background-color: black;
	color: white;
}

.field {
	position: relative;
	width: 530px;
	height: 600px;
	border: 3px solid #FFF;
	font-size: 16px;
}

.character {
	background-color: black;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 10px;
}
#titleDiv{
	float : left;
}

#statusDiv{
	margin-left : 75px;
	clear : both;
}

#actionList_hero_rival{
	visibility : hidden;
}